*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.bm
*.def
*.dpth
*.dvi
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.jpg
*.lof
*.lof1
*.log
*.lot
*.maf
*.md5
*.mp
*.mtc
*.mtc1
*.nav
*.nlo
*.out
*.pdf
*.pdfsync
*.snm
*.summ
*.synctex.gz
*.tcp
*.tdo
*.tmp
*.toc
*.toc1
*.top
*.tps
*.tui
*.vrb
*.zip
*(Autosaved).rtfd/  
Backup[ ]of[ ]*.pages/ 
Backup[ ]of[ ]*.key/ 
Backup[ ]of[ ]*.numbers/ 
5bgraf/
graphics/
.DS_Store
